* {
    margin: 0;
    padding: 0;
}


body {
	background: #fff;
}

header {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #eeeeee;
    text-align: center;
    position: relative;
}

header span {
	position: absolute;
	left: 1.25rem;
}

header div {
    font-size: 1rem;
}


.main {
	width: 100%;
}

.main-input {
	width: 70%;
	margin: 0 auto;
	padding-top: 1.875rem;
	display: flex;
	justify-content: space-between;
}

.main-input span{
	font-size: 0.9375rem;
}

.main-input input {
	margin-left: 0.625rem;
	width: 60%;
}

.main-input button {
	padding: 0.1875rem 0.25rem;
	background: #FFFFFF;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin: 0 auto;
}
